[access]
	inheritFrom = All-Projects
[project]
	description = Location Services
[access "refs/tags/*"]
	pushTag = group LocationCommitters
	pushSignedTag = group LocationCommitters
[access "refs/heads/*"]
	abandon = group LocationCommitters
	create = group LocationCommitters
	forgeAuthor = group LocationCommitters
	label-Code-Review = -2..+2 group LocationCommitters
	removeReviewer = group LocationCommitters
	submit = group LocationCommitters
	editTopicName = group LocationCommitters
[access "refs/meta/config"]
	read = group LocationCommitters
